@font-face {
  font-family: customFont;
  src: url(font/MonumentExtended-Regular.otf);
}

:root {
  --WHITE: #fdfdfd;
  --BLUE-ACCENT: #1e90ff;
  --BLACK-ACCENT: #383838;
  --BLACK: #000000;
  --FONT: customFont, "Helvetica", Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FONT);
}
.general-container {
  position: relative;
  background-image: url(img/album-1024.webp);
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto;
  z-index: -1;
}

body {
  background-color: black;
  color: var(--WHITE);
}
p {
  color: white;
}
.test p {
  color: goldenrod;
}

.header {
  background: color-mix(in srgb, black, transparent 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100vw;
}
.logo {
  margin-left: 1rem;
}
.social-media {
  display: none;
  column-gap: 25px;
}
.social-media i {
  color: var(--WHITE);
  font-size: 20px;
}
.hamburger-menu {
  margin-right: 1rem;
}
.hamburger-menu i {
  color: var(--WHITE);
  font-size: 24px;
}
.top-section {
  backdrop-filter: blur(6px) brightness(50%);
  display: flex;
  flex-flow: column nowrap;
  padding-top: 2rem;
  width: 100%;
}
.top-section img {
  width: 90%;
  max-width: 600px;
  height: auto;
  align-self: center;
}
.top-section h6 {
  margin: 2rem;
  font-weight: 100;
}
.track-details {
  background-color: color-mix(in srgb, black, transparent 12%);
}

.test {
  background-color: black;
}
