@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --WHITE: #fdfdfd;
  --BLUE-ACCENT: #1e90ff;
  --BLACK-ACCENT: #383838;
  --BLACK: #000000;
  --FONT: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FONT);
}
.general-container {
  position: relative;
  background-image: url(img/background.jpg);
  background-blend-mode: darken;
  background-position: top center;
  background-repeat: repeat-x;
  background-size: auto;
  z-index: -1;
}

body {
  background-color: black;
  color: var(--WHITE);
}
p {
  color: white;
}
.test p {
  background-color: black;
  color: goldenrod;
}

.header {
  background: color-mix(in srgb, black, transparent 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100vw;
  z-index: 1;
}
.logo {
  margin-left: 1rem;
}
.social-media {
  display: none;
  column-gap: 25px;
}
.social-media i {
  color: var(--WHITE);
  font-size: 20px;
}
.hamburger-menu {
  margin-right: 1rem;
}
.hamburger-menu i {
  color: var(--WHITE);
  font-size: 24px;
}
.top-section {
  /* backdrop-filter: blur(9px) brightness(40%); */
  display: flex;
  flex-flow: column nowrap;
  padding-top: 3rem;
  width: 100%;
}
.top-section img {
  width: 90%;
  max-width: 600px;
  height: auto;
  align-self: center;
}
.track-details {
  /* backdrop-filter: blur(10px) brightness(20%); */
  padding: 1rem;
}
.track-details h5 {
  padding: 2rem 0;
  font-weight: 100;
  font-style: italic;
}
.track-details h5 span {
  color: #50a584;
}
.track-details h2,
h3 {
  margin: 0.5rem 0;
}
.listen-share {
  display: flex;
}

/*///////// ///////// MEDIA QUERY//////////////////////// */

@media screen and (min-width: 532px) {
  .social-media {
    display: flex;
  }
}
